@charset "utf-8";

/* /_/_/_
모든 디바이스 공통 스타일과 스마트폰 및 소형 태블릿 대상 레이아웃 지정
/_/_/_/_*/

/*=============================================
body
===============================================*/
body {
	width: 100%;
	background-color: #fff;
	font-family: "돋움", "굴림", "Malgu Gothic", "Times New Roman",
					 Dotum, sans-serif;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

/*=====================================================
헤더 스타일
=====================================================*/

/*=====================================================
글로벌 내비게이션 스타일
=====================================================*/

/*=====================================================
콘텐츠 영역 전체 스타일
=====================================================*/

/*=====================================================
콘텐츠 영역 -> works 스타일
=====================================================*/

/*=====================================================
콘텐츠 영역 -> news 스타일
=====================================================*/

/*=====================================================
콘텐츠 영역 -> information 스타일
=====================================================*/

/*=====================================================
페이지 상단으로 가는 버튼 스타일
=====================================================*/

/*=====================================================
푸터 스타일
=====================================================*/

/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
미디어 쿼리에 따른 전환
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/

/* pc 대상 및 대형 태블릿 대상 레이아웃 지정 : 769~960px */
@media only screen and (min-width: 769px) {
	
}

/* PC 대상 레이아웃 지정 : 961px 이상에서는 고정 레이아웃 */
@media only screen and (min-width: 961px) {
	
}